# Answering Business Questions With SQL

## Introduction

This project uses the Chinook database.The Chinook database contains information about the artists, songs, and albums from the music shop, as well as information on the shop's employees, customers, and the customers purchases.

This information is contained in eleven table. A schema diagram will help us understand the available columns and the structure of the data. Here's a schema diagram for the Chinook database:

![alt text](https://github.com/brandontanyu/Answering-Business-Questions-SQL/blob/main/screenshoots/chinook-schema.PNG)

* Load the database.

In [12]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

* Inspect the whole database

In [14]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[]